@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-size: 36px;
    font-weight: 400;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    margin: 20px 0 0 0;
    text-align: center;
}

.photographer_section article .containerImg{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.photographer_section article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photographer_section article h3{
    color: #901C1C;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}

.photographer_section article h4{
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    margin: 5px 0;
}

.photographer_section article span{
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;

    /* identical to box height */
    text-align: center;

    color: #757575;
}